-- CreateTable
CREATE TABLE "StagedRecord" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "importBatchId" TEXT NOT NULL,
    "rawSourceRow" TEXT NOT NULL,
    "sourceRowNum" INTEGER NOT NULL,
    "detectedBroker" TEXT NOT NULL,
    "brokerAccountId" TEXT,
    "brokerTicket" TEXT,
    "orderId" TEXT,
    "dealId" TEXT,
    "positionId" TEXT,
    "originalSymbol" TEXT,
    "displaySymbol" TEXT,
    "direction" TEXT,
    "volume" REAL,
    "entryTime" DATETIME,
    "exitTime" DATETIME,
    "entryPrice" REAL,
    "exitPrice" REAL,
    "commission" REAL,
    "swap" REAL,
    "grossPnl" REAL,
    "netPnl" REAL,
    "rawRecordType" TEXT,
    "classification" TEXT DEFAULT 'UNKNOWN',
    "duplicateStatus" TEXT DEFAULT 'NEW_RECORD',
    "parseWarnings" TEXT,
    "parseErrors" TEXT,
    "classificationReason" TEXT,
    "duplicateReason" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    CONSTRAINT "StagedRecord_importBatchId_fkey" FOREIGN KEY ("importBatchId") REFERENCES "ImportBatch" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

